//Fontes
$fonte: 'Roboto', sans-serif;

//Cores
$cor-primaria: #CA8787;
$cor-secundaria: #E1ACAC;
$cor-terciaria: #F4E0AF;
$cor-quartenaria: #A87676;
$cor-quinta: #FEECE2;

//Tamanho do texto
$tamanho-do-texto: 3rem;